@import "index.css";
@import "animations.css";

.logo {
    padding: 0.5rem 0 0;
}

.logo img {
    width: 100%;
    height: auto;
}

.logo h2 {
    padding-top: 1rem;
}

#scrollContent2,
#scrollContent {
    overflow: hidden;
    height: 100%;
}

#scroller2 {
    width: 100%;
    min-height: 110%;
}

.prizes-con {
    width: 100%;
    /*height: 100%;*/
    overflow-y: auto;
}

.prizes-con .wrap .logo a {
    display: block;
}

.prizes-con .wrap .s-pro {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 10%;
}

.prizes-con .wrap .s-pro-1 {
    width: 100%;
    top: 0;
    position: absolute;
    height: auto;
    z-index: 2;
}

.prizes-con .wrap .s-pro-2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 14%;
    left: 0;
    z-index: 2;
}

.prizes-con .wrap .youqitong {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.prizes-con .wrap .light {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 3;
    bottom: 0;
}

.prizes-con .wrap .stars {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    z-index: 4;
}

.prizes-con .wrap .prizes {
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    z-index: 5;
}

.product-choose-con {
    width: 100%;
    /*height: auto;*/
    overflow-y: auto;
}

.product-choose-con .wrap {
    padding: 1rem 1.5rem 1.5rem;
    height: auto;
}

.product-choose-con .con-box {
    width: 100%;
    height: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.product-choose-con .con-box .show-btn {
    position: relative;
    display: block;
}

.product-choose-con .con-box .show-btn em {
    position: absolute;
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    background: url(../images/left-icon.png) center no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
}

/*.product-choose-con .con-box.active {*/
    /*animation: shows .8s ease-in-out 0s forwards;*/
/*}*/

/*.main-box > img.active {*/
    /*animation: hide .8s ease-in-out 0s forwards;*/
/*}*/

@-webkit-keyframes shows {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.8
    }

    100% {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes shows {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.8
    }
    100% {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes hide {
    0% {
        height: auto;
        display: none;
        overflow: hidden;
    }
    100% {
        height: 0;
        display: none;
        overflow: hidden;
    }
}

@-webkit-keyframes hide {
    0% {
        height: auto;
        display: none;
        overflow: hidden;
    }
    100% {
        height: 0;
        display: none;
        overflow: hidden;
    }
}

.product-choose-con .con-box .show-btn em.on {
    transform: rotate(-90deg);
}

.product-choose-con .con-box .show-btn img {
    width: 100%;
    height: auto;
}

.product-choose-con .con-box .product-list {
    padding: 0 .5rem 0 1.5rem;
    display: none;
}

.product-choose-con .con-box .product-list a {
    display: inline-block;
    margin-bottom: 1.5rem;
}

.product-choose-con .con-box .product-list img {
    width: 100%;
    height: auto;
    /*   margin-bottom: 1.5rem;*/
}

.visiable {
    display: block !important;
}

.going .img {
    width: 100%;
    height: auto;
}

.going .page {
    background: url(../images/going-bg.jpg) no-repeat;
    background-size: 100%;
}

.going .img_1 {
    margin-top: 1.2rem;
}

.going .img_2 {
    margin-top: 14%;
    position: relative;
    z-index: 999;
    opacity: 1;
}

.going .img_3 {
    margin-top: -46%;
}

.going .rule-btn {
    display: block;
    float: right;
    height: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 0;
}

.going .rule-btn img {
    height: 100%;
    width: auto;
}

.going .going-btn {
    display: block;
    margin-top: -18%;
    position: relative;
    z-index: 999;
}

.conbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6rem;
    left: 0.8rem;
}

.conbox img {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
