html,
body {
}
/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

input {
    font-size: 15px;
}

p {
    margin: 0;
    padding: 0;
}

.mui-bar .mui-pull-left .mui-icon {
    padding-right: 5px;
    font-size: 28px;
}

.mui-bar .mui-btn {
    font-weight: normal;
    font-size: 17px;
}

.mui-bar .mui-btn-link {
    top: 1px;
}

.heade {
    background: black;
    color: white;
    box-shadow: none;
}

.jian {
    color: white;
}

.heade-jian {
    font-size: 16px;
    color: white;
}

.title {
    width: 100%;
    height: 50px;
    background: #2abef9;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 黑体;
}

.m-h {
    font-family: 微软雅黑;
    margin: 10px 0;
    font-size: 15px;
    color: #010101;
}

.mui-qu {
    padding-top: 1px;
}

.in-zdy {
    margin-bottom: 0 !important;
}

.right {
    display: block;
    width: 36%;
    float: right;
}

.right img {
    width: 100%;
    display: block;
}

@media only screen and (min-width: 375px) {
    .right {
        display: block;
        width: 32%;
        float: right;
    }
}

@media only screen and (min-width: 400px) {
    .right {
        display: block;
        width: 29%;
        float: right;
    }
}

.m-b {
    border-radius: 5px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .2) !important;
    color: #14439b;
    background: white url("../images/right-icon.png") no-repeat center right 15px;
    background-size: 18px 12px;
    font-size: 15px;
}

.m-b option {
    font-size: 15px;
    color: #404040;
    border: none !important;
    background: #efeff4;
}

.button-ti {
    text-align: center;
    width: 160px;
    height: 50px;
    border: none;
    background: url("../images/button-ti.png") no-repeat center;
    background-size: 100% 100%;
    margin-left: 25%;
    margin-top: 50px;
}

.m-b option {
    background: white;
}

.m-1 {
    margin-bottom: 15px;
    border-bottom: #d3d3d3 solid 1px;
}

.m-1 p {
    line-height: 25px;
    margin-bottom: 10px;
}

.m-1 .m-1-h {
    color: #535353;
    margin-bottom: 0;
}

.mui-img {
    width: 60%;
    /*width: 140px;*/
    height: 120px;
    margin-left: 20%;
}

.mui-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.mui-left select {
    float: left;
    width: 31%;
}

.mui-sel {
    overflow: hidden;
}

.mui-left select:nth-child(2) {
    float: right;
}

.button-tijiao {
    text-align: center;
    width: 160px;
    height: 50px;
    border: none;
    background: url("../images/button-tijiao.png") no-repeat center;
    background-size: 100% 100%;
    margin-left: 25%;
    margin-top: 10px;
}

/*弹层 start*/
.pop-grayzg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
}

.pop-grayzg .okeveningu-pop {
    width: 75%;
    overflow: hidden;
    padding: 15px 0;
    background: white;
    margin: 50% auto 0;
    border-radius: 8px;
}

.okeveningu-pop .okright {
    display: block;
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #fb5e01;
    font-weight: 800;
    background: url("../images/button-cha.png") no-repeat center;
    background-size: 16px 16px;

}

.okeveningu-pop p {
    color: #fb4601;
}

.okeveningu-pop .gongxi {
    text-align: center;
    font-size: 22px;
    font-family: 微软雅黑;
    font-weight: bolder;
    margin-top: 30px;
}

.okeveningu-pop .huode {
    text-align: center;
    font-size: 18px;
    font-family: 微软雅黑;
    font-weight: bolder;
    margin-top: 10px;
}

.okeveningu-pop .t-con {
    text-align: center;
    font-size: 18px;
    font-family: 微软雅黑;
    font-weight: bolder;
    margin-top: 30px;
}

.okeveningu-pop .t-huo {
    text-align: center;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: bolder;
    margin-top: 10px;
}

.okeveningu-pop .zhuce {
    width: 60%;
    height: 50px;
    margin-left: 21.5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.okeveningu-pop .zhuce img {
    width: 100%;
    display: block;
}

.buton {
    margin-top: 1rem;
}

.okeveningu-pop > button {
    background: -webkit-linear-gradient(top, #ffa200 0%, #ff7900 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 47%;
    border: none;
    font-size: 20px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    margin-left: 26%;
}

div.pop-grayzg .active {
    display: block;
}

/*弹层 end'*/
.muip{
    text-align: center;
    color: #ff9400;
    font-size: 15px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.button2{
    width: 30% !important;
    height: 4rem !important;
    line-height: 4rem !important;
    margin: 0 2px !important;
}