
html {
	font: 500 14px 'roboto';
	color: #333;
	background-color: #fafafa;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#demo {
	padding: 0 0.75rem;
	background: #FFFFFF;
	margin-bottom: 0.6rem;;
}
p {
	margin: 0;
}
#dt {
	margin: 30px auto;
	height: 28px;
	width: 200px;
	padding: 0 0.3rem;
	border: 1px solid #ccc;
	outline: none;
}


.calendar {
    width: 14rem;
    height: 17.35rem;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}
.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
}
.view{
	overflow: inherit;
}
.calendar-arrow,
.calendar-arrow .next {
    float: right;
}
.calendar-hd {
    padding: 0.5rem 0;
    height: 1.5rem;
    line-height: 1.5rem;
}
.calendar-display {
    font-size: 1.4rem;
    text-indent: 0.5rem;
   display:inline-block ;
   width:50%;
}
.view-month .calendar-hd {
    padding: 0.5rem;
}
.calendar-arrow,
.calendar-display {
   
	font-size: 0.65rem;
	color: rgba(32,32,32,0.3);
    
}
.calendar li[disabled] {
    color: #bbb;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}
.calendar-display .m,
.calendar-views .week,
.calendar-display:hover,
.calendar-arrow span:hover {
    color: #888;
}
.calendar-views .days .new,.calendar-views .days .old{
	opacity: 0.2;
font-size: 0.8rem;
color: #363636;
}
.calendar-display .m{
	/*float: right;*/
	font-size: 1.2rem;
	color: #202020;
}
.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
} 
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    width: 2.5rem;
    margin-right: 0.5rem;
}
.calendar-arrow span {
    font: 500 1.3rem sans-serif;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%;
}
.calendar .days li {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
	font-size: 0.8rem;
	color: #363636;
	margin: 0 0.2rem;
}
.calendar .week li{
	 width: 2.4rem;
    height: 2rem;
    line-height: 2rem;
	font-size: 0.5rem;
	color: #363636;
}
.calendar .month-items li {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
}
.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
    background: #eee; 
}
/*.calendar .calendar-views .now {
    color: #fff;
    background: #FFB343;  
}*/
.calendar .calendar-views .selected {
   color: #fff;
    background: #FFB343!important;  
}
.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    margin-left: -0.1rem; 
    width: 0.2rem;
    height: 0.2rem;
    background: #66be8c;
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 0.25rem  0.5rem;
    line-height: 1.1rem;
    color: #fff;
    background: #000;
    border-radius: 0.15rem;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -0.6rem;
    width: 0;
    height: 0;
    margin-left: -0.15rem;
    border: 0.3rem solid transparent;
    border-top-color: #000;
}