.div1min {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.divimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.div2min {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.div3min {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.z-p1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.div1shu {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 3%;
    right: 50%;
}

.div2nan {
    position: absolute;
    top: 50%;
    left: 8%;
    margin-top: -38px;
}

.page-5-1 {
    overflow:hidden;
}
.page-5-1 .p5_img {
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;

}
/*上*/
/*.page-5-1 .img_u_1 {*/
/*height:50%;*/
/*width:100%;*/
/*position:absolute;*/
/*left:0;*/
/*top:0;*/
/*}*/
/*!*下*!*/
/*.page-5-1 .img_d_1 {*/
/*height:50%;*/
/*width:100%;*/
/*position:absolute;*/
/*left:0;*/
/*top:50%;*/
/*}*/
/* page-6 */
.page-6-1 {
    overflow:hidden;
}

/*上*/
.page-6-1 .img_u_1 {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.rain-bg {
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    /*background: url(../images/p6-rain-01.png) no-repeat center bottom;
    background-size: 100% 100%;*/
}

.page-7-1 .img_pg_1{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top:2.5rem;
}
.page-7-1 .img_pb_1{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top:2rem;
}
.page-7-1 .img_1{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0%;
}
/*.page-7-1 .img_2{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 11.5%;
}
.page-7-1 .img_3{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 23.5%;
}
.page-7-1 .img_4{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 51%;
}
.page-7-1 .img_5{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 72%;
}*/

/*下*/
.page-7-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:51.5%;
}
.page-7-1 .img_dg_1{
    height:50%;
    width: 100%;
    position: absolute;
    left: 0;
    top:50%;
}
.page-7-1 .img_db_1{
    height:50%;
    width: 100%;
    position: absolute;
    left: 0;
    top:50%;
}
.img_ppo_1{
    height:50%;
    width:110%;
    position:absolute;
    left:0;
    top:51.5%;
}
/* page8 */
.page-8-1 {
    overflow:hidden;
}

.page-8-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:1%;
}
/*.page-8-1 .img_2 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:36%;
}
.page-8-1 .img_3 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:62%;
}
.page-8-1 .img_4 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:88%;
}*/
.img-8-model{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 3%;
}
.page-8-1 .img_8-text2{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 11%
}
.page-8-1 .img_8-parsons{
    position: absolute;
    width: 100%;
    left: 0;
    top: 9%;
}
/*p9*/
.page-9-1 {
    overflow:hidden;
}

.page-9-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:12%;
}
.page-9-1 .img_9_text{
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:3%;
}
.z-p9{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.ani-movebrush09{
    -webkit-animation: movebrush09 10.5s 10.5 ease both;
    animation: movebrush09 10.5s  10.5 ease both ;
}
/*z*/
/**/
@-webkit-keyframes movebrush09 {
    0% {
        left:0;
    }
    50% {
        left:-70%;
    }
    100% {
        left:0;

    }
}
@keyframes movebrush09 {
    0% {
        left:0;
    }
    50% {
        left:-70%;
    }
    100% {
        left:0;
    }

}
@-webkit-keyframes jello {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
    11.1% {
        -webkit-transform: none;
        transform: none
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg)
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg)
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes jello {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
    11.1% {
        -webkit-transform: none;
        transform: none
    }

    22.2% {

        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }
    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg)
    }
    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg)
    }
    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}



.jello{
    -webkit-animation-name:jello;
    animation-name:jello;
    -webkit-transform-origin: center;

    transform-origin: center
}
