.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	overflow: hidden;
	zoom: 1;
}
body{
	background: #fff;
}
.yellow_border{
/* 	width: 2.5rem;
	height:  1rem; */
	display: inline-block;
	border: 1px solid #FFB343;
	color: #FFB343;
	padding: 0.05rem 0.6rem;
	font-size: 0.6rem;
	letter-spacing: 0px;
	margin-left: 0.1rem;
	margin-right: 0.5rem;
}
.pink_border{
/* 	width: 2.5rem;
	height:  1rem; */
	display: inline-block;
	border: 1px solid #FF649B;
	color: #FF649B;
	padding: 0.05rem 0.6rem;
	font-size: 0.6rem;
	letter-spacing: 0px;
	margin-left: 0.1rem;
	margin-right: 0.5rem;
}
.pink{
	opacity: 0.8;
	font-size: 1rem;
	color: #FF2C6C;
	letter-spacing: 0px;
}
.black{
	opacity: 0.8;
	font-size: 0.9rem;
	color: #000;
	letter-spacing: 0px;
}
/* 修改密码开始 */
.change_password{
	text-align: center;
	margin-bottom: 4rem;
}
.change_password p{
	margin:  0 auto;
	width: 17.25rem;
	height: 2.2rem;
	background: #F6F6F6;
	margin-top: 0.6rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.change_password input{
	width: 14rem;
	height: 2.2rem;
	font-size: 0.8rem;
	border: none;
	background: transparent;
}
.change_password span{
	font-size: 1.4rem;
	opacity: 0.5;
	margin:  0.4rem 0.6rem;
}
.makesure_btn{
	width:  100%;
	position: fixed;
	bottom:  0;
}
.makesure_btn_a{
	display: block;
	width:  100%;
	height: 3rem;
	background: #FFB343;
	text-align: center;
	line-height: 3rem;
	font-size: 1rem;
	color: #FFFFFF;
	letter-spacing: 0px;
}
/* 修改密码结束 */

/* 修改手机号码开始 */
.change_phone_number{
	text-align: center;
}
.change_phone_number .now_phone_num{
	opacity: 0.8;
	font-size: 1rem;
	color: #000000;
	margin-top: 1rem;
}
.change_phone_number p{
	margin:  0 auto;
	width: 17.25rem;
	height: 2.2rem;
	background: #F6F6F6;
	margin-top: 0.6rem;
	b-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.change_phone_number input{
	width: 14rem;
	height: 2.2rem;
	font-size: 0.8rem;
	border: none;
	background: transparent;
}
.change_phone_number .yzm{
	width: 8rem;
}
.change_phone_number .get_yzm{
	width:  6.35rem;
	height: 2.2rem;
	font-size: 0.8rem;
	line-height: 2.2rem;
	color: #FFFFFF;
	background: #FFB343;
}

.icon-phone,.icon-yanzhenma,.icon-password{
	font-size: 1.4rem;
	opacity: 0.5;
	margin:  0.4rem 0.6rem;
	display: inline-block;
}

/* 修改手机号码结束*/
/* 登录开始 */
.login .icon-my_selected{
	font-size: 1.4rem;
	opacity: 0.5;
	margin:  0.4rem 0.6rem;
	display: inline-block;
}
.login{
	text-align: center;
}
.login p{
	margin:  0 auto;
	width: 17.25rem;
	height: 2.2rem;
	background: #F6F6F6;
	margin-top: 0.6rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.login input{
	width: 14rem;
	height: 2.2rem;
	font-size: 0.8rem;
	border: none;
	background: transparent;
}
.login img{
	width: 1.4rem;
	height: 1.4rem;
	margin:  0.4rem 0.6rem;
}
.login .yzm{
	width: 8rem;
}
.login .get_yzm{
	width:  6.35rem;
	height: 2.2rem;
	font-size: 0.8rem;
	line-height: 2.2rem;
	color: #FFFFFF;
	background: #FFB343;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
	background: #FFB343;
}
.list-block{
	margin: 0.5rem 0 4rem;
}
.list-block .item-inner{
	position: static;
	opacity: 0.8;
	font-size: 0.65rem;
	color: #000000;
	letter-spacing: 0px;
	margin-left: 0.75rem;
}
.list-block .item-media+.item-inner{
	margin-left: 0.6rem;
}
.disabled{
    background: #C4C4C4!important;
	font-size: 0.8rem;
	color: #FFFFFF;
}
/* 登录结束 */
/* 关于我们开始 */
.article{
	width:  100%;
	padding:  0.6rem 0.75rem;
	opacity: 0.6;
	font-size: 0.7rem;
	color: #000000;
	letter-spacing: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.article p{
	margin-top: 0px;
	line-height: 1.1rem;
}

/* 关于我们结束 */
/* 报名记录开始 */
.order{
	/* width:  100%; */
	height: 5.55rem;
	/* padding:  0.7rem  0.75rem 0.8rem; */
	padding:  0.7rem  0 0.8rem 0;
	margin-left: 0.75rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: solid 1px rgba(0,0,0,0.1); 
	/* margin-bottom: 0.6rem; */
}
.order:last-child{
	border-bottom: none; 
}
.order h2{
	height: 2.5rem;
	line-height: 2.5rem;
	font-weight: normal;
	font-size: 0.9rem;
	color: #363636;
	letter-spacing: 0.62px;
	border-bottom: solid 1px rgba(0,0,0,0.1);
}
.order h2 img{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 0.75rem;
	margin-top: 0.7rem;
}
.order_cont img{
	width: 5.5rem;
	height: 4rem;
	margin-right: 0.6rem;
}
.order .right_cont{
	width: 11.25rem;
	opacity: 0.8;
	font-size: 0.8rem;
	color: #000000;
	letter-spacing: 0px;
}
.order .right_cont p{
	margin: 0.3rem 0 0 0;
	display: block;

}
.order .right_cont h3{
	opacity: 0.8;
	font-size: 0.8rem;
	color: #000000;
	letter-spacing: 0px;
	font-weight: normal;
}
.order .right_cont span{
	opacity: 0.6;
	font-size: 0.6rem;
	color: #000000;
	letter-spacing: 0px;
}
.order .right_cont .pepole_count{
	margin-top: 0.5rem;
}
/* tab开始 */
.tab_order .center{
	width:  100%;
	height: 100%;
}
.tab_order .buttons-row{
	width:  100%;
	height: 100%;
}
.tab_order .button.active{
	background: transparent;
	opacity: 0.8;
	font-size: 0.8rem;
	color: #000000;
	position: relative;
}
.tab_order .button.active span{
	position: absolute;
	width: 2.5rem;
	height: 0.2rem;
	background-color: #FFB343;
	bottom:  0px;
	left:  50%;
	margin-left: -1.25rem;
}
.tab_order .button{
	border: none;
	opacity: 0.6;
	font-size: 0.8rem;
	color: #363636;
	font-weight: normal;
	height: 100%;
	line-height: 2.5rem;
}
.tab_order .buttons-row .button:first-child {
    border-radius: 0;
    border-left-width: 0;
}
.tab_order .navbar, .subnavbar, .toolbar{
	background: transparent;
}
.tab_order .page{
	background: #fff;
	top:  2.2rem;
}
 .tab_order .pages{
	background: transparent;
	position: static;
}
.tab_order .content-block {
    margin: 0;
    padding: 0;
}
.tab_order .navbar{
	height:  2.65rem;
	background-color: #fff;
	box-shadow: 0 0px 14px rgba(0,0,0,0.1);
}
.navbar-fixed .page-content, .navbar-through .page-content{
	padding-top: 2.65rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.view, .views{
	position: static;
}
/* tab结束 */
/* 报名记录结束 */
