
@import url("product-choose.css");

body{
    width:100%;
    overflow:hidden;
    padding:0;
    margin:0;
}
.hide{
    display:none;
}
.page{
    width:100%;
    height:100%;
    position:absolute;
    text-align:left;
}
.page .wrap{
    height:100%;
    overflow:hidden;

}
.wrap{
    position:relative;
}
body,html{
    height:100%;
    background-color:#f6feff;
}
.moveIconup{
    height:auto;width:25px;
    position:absolute;
    left:50%;
    top:94%;
    margin-left:-12px;
}
.moveIconright{
    height:auto;
    width:18px;
    position:absolute;
    right:1%;
    top:50%;
    margin-top:-12px;
}
.img-width-full {
    width:100%;
    height:100%;
}
/**/
.pop-window-wrap-full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 102;
    background: rgba(0,0,0,0.6);
}
.share-text {
    width: 100%;
    height: 13.568rem;
    background: url(../images/share-text.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top:0rem;
}



.loading-img {width: 0px; height: 0px; display:none; overflow:hidden; }
/*preloadedImages bg*/


/*#preload-01 {width: 0px; height: 0px; display: inline; background-image: url(../images/share-text.png); }*/
#preload-02 {width: 0px; height: 0px; display: inline; background-image: url(../images/p1-bg.jpg); }
#preload-03 {width: 0px; height: 0px; display: inline; background-image: url(../images/p2-bg.jpg); }
#preload-04 {width: 0px; height: 0px; display: inline; background-image: url(../images/p3-bg.jpg); }
#preload-05 {width: 0px; height: 0px; display: inline; background-image: url(../images/p4-bg.jpg); }
#preload-06 {width: 0px; height: 0px; display: inline; background-image: url(../images/p5-bg.jpg); }
#preload-07 {width: 0px; height: 0px; display: inline; background-image: url(../images/p6-bg.jpg); }
#preload-08 {width: 0px; height: 0px; display: inline; background-image: url(../images/p7-bg.jpg); }
#preload-09 {width: 0px; height: 0px; display: inline; background-image: url(../images/p6-rain-01.png); }
#preload-10 {width: 0px; height: 0px; display: inline; background-image: url(../images/p6-rain-02.png); }


/*.page-1-1{*/
    /*background:#e9e8e3 url(../images/page7-bg.png) no-repeat center bottom;*/
    /*background-size: 100% 100%;*/
/*}*/
.page-2-1{
    background:#e9e8e3 url(../images/p2-bg.jpg) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-3-1{
    background:#e9e8e3 url(../images/p3-bg.jpg) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-4-1{
    background:#e9e8e3 url(../images/p4-bg.jpg) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-5-1{
    background:#e9e8e3 url(../images/p5-bg.jpg) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-6-1{
    background:#e9e8e3 url(../images/page61-bg.png) no-repeat center bottom;
    background-size: 100% 100%;
}

.page-7-1{
    background:#e9e8e3   url(../images/page7-bg.png) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-8-1{
    background:#e9e8e3 url(../images/p8-bg.png) no-repeat center bottom;
    background-size: 100% 100%;
}
.page-9-1{
    background:#e9e8e3 url(../images/p9-1-lovebg.png) no-repeat center bottom;
    background-size: 100% 100%;
}
/*.page-3-1{ background-color:#e7eef1;}
.page-4-1{ background-color:#fffdfa;}*/

.page-current{
    z-index:1;
}
 /*page1 */
.page-1-1 {
    overflow:hidden;
}
.page-1-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:2%;
}
.page-1-1 .img_2 {
    height:auto;
    width:100%;
    position:absolute;
    left:0%;
    bottom: 2%;
}
.page-1-1 .img_3 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    bottom:2%;
}
.page-1-1 .img_4 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    bottom:2%;
}
/* page2 */
.page-2-1 {
    overflow:hidden;
}
.page-2-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:2%;
}
/* page-3 */
.page-3-1 {
    overflow:hidden;
}
.img_bell {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -5rem;
    margin-left: -5rem;
    z-index: 10;

}
.img_bell_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);

}
.img_bell-static {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -5rem;
    margin-left: -5rem;
    z-index: 10;

}


.page-3-1 .divimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

.page-3-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
    margin-top: -4.65rem;
}
/*上*/
.page-3-1 .img_u_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
/*下*/
.page-3-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
}
/* page-4 */
.page-4-1 {
    overflow:hidden;
}
.page-4-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
    margin-top: -4.65rem;
}
/*上*/
.page-4-1 .img_u_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
/*下*/
.page-4-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
}
/* page-5 */
.page-5-1 {
    overflow:hidden;
}
.page-5-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
    margin-top: -4.65rem;
}
/*上*/
.page-5-1 .img_u_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
/*下*/
.page-5-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:50%;
}
/* page-6 */
.page-6-1 {
    overflow:hidden;
}
/*.page-6-1 .divimg {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
/*}*/

/*.page-6-1 .img_1 {*/
    /*height:auto;*/
    /*width:100%;*/
    /*position:absolute;*/
    /*left:0;*/
    /*top:50%;*/
    /*margin-top: -4.65rem;*/
/*}*/
/*上*/
.page-6-1 .img_u_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:0.2rem;
}
.page-6-1 .img_prou_1{
	position:absolute;
	top:0.5rem
}
.page-6-1 .img_p_1{
	position:absolute;
	width:110%;
}
.rain-bg {
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    /*background: url(../images/p6-rain-01.png) no-repeat center bottom;
    background-size: 100% 100%;*/
}
/*下*/
.page-6-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:51.5%;
}
.page-6-1 .img_prod_1{
	 position:absolute;
	     top:50%;
	 
}
.page-6-1 .img_dp_1{
	position: absolute;
	width:110%;
	top:51.5%;
}
/* page7 */
/*上*/
.page-7-1 .img_pg_1{
	height: auto;
    width: 100%;
	position: absolute;
	left: 0;
    top:2.5rem;
}
.page-7-1 .img_pb_1{
    height: auto;
    width: 100%;
	position: absolute;
	left: 0;
    top:2rem;
}
.page-7-1 .img_1{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0%;
}
/*.page-7-1 .img_2{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 11.5%;
}
.page-7-1 .img_3{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 23.5%;
}
.page-7-1 .img_4{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 51%;
}
.page-7-1 .img_5{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 72%;
}*/

/*下*/
.page-7-1 .img_d_1 {
    height:50%;
    width:100%;
    position:absolute;
    left:0;
    top:51.5%;
}
.page-7-1 .img_dg_1{
	height:50%;
    width: 100%;
	position: absolute;
	left: 0;
    top:50%;
}
.page-7-1 .img_db_1{
    height:50%;
    width: 100%;
	position: absolute;
	left: 0;
    top:50%;
}
.img_ppo_1{
	height:50%;
    width:110%;
    position:absolute;
    left:0;
    top:51.5%;
}
/* page8 */
.page-8-1 {
    overflow:hidden;
}

.page-8-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:1%;
}
/*.page-8-1 .img_2 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:36%;
}
.page-8-1 .img_3 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:62%;
}
.page-8-1 .img_4 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:88%;
}*/
.img-8-model{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 3%;
}
.page-8-1 .img_8-text2{
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 11%
}
.page-8-1 .img_8-parsons{
    position: absolute;
    width: 100%;
    left: 0;
    top: 9%;
}
/*p9*/
.page-9-1 {
    overflow:hidden;
}

.page-9-1 .img_1 {
    height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:12%;
}
.page-9-1 .img_9_text{
	 height:auto;
    width:100%;
    position:absolute;
    left:0;
    top:3%;
}

/*ani class*/
.ani-fadeInUp {
    -webkit-animation: fadeInUp .7s ease both;
    animation: fadeInUp .7s ease both;
}
.ani-fadeInLeft {
    -webkit-animation: fadeInLeft .7s ease both;
    animation: fadeInLeft .7s ease both;
}
.ani-fadeInLeft2 {
    -webkit-animation: fadeInLeft 1.5s ease both;
    animation: fadeInLeft 1.5s ease both;
}
.ani-fadeInLeft5 {
    -webkit-animation: fadeInLeft5 .7s ease both;
    animation: fadeInLeft5 .7s ease both;
}
.ani-fadeInRight {
    -webkit-animation: fadeInRight .7s ease both;
    animation: fadeInRight .7s ease both;
}
.ani-fadeInRight2 {
    -webkit-animation: fadeInRight 1.5s ease both;
    animation: fadeInRight 1.5s ease both;
}
.ani-fadeInRight5 {
    -webkit-animation: fadeInRight5 .7s ease both;
    animation: fadeInRight5 .7s ease both;
}
.ani-fadeIn {
    -webkit-animation: fadeIn .7s ease both;
    animation: fadeIn .7s ease both;
}
.ani-fadeIn2 {
    -webkit-animation: fadeIn 2.5s ease both;
    animation: fadeIn 2.5s ease both;
}

/*渐显循环*/
.ani-fadeInLoop {
    -webkit-animation: fadeInLoop 8s ease infinite;
    animation: fadeInLoop 8s ease infinite;
}

/*渐显加缩放*/
.fadeInScale {
    -webkit-animation: fadeInScale 1.5s ease-in-out both;
    animation: fadeInScale 1.5s ease-in-out both;
}
/*缩放*/
.ani-Scale {
    -webkit-animation: outScale 1.5s ease-in-out both;
    animation: outScale 1.5s ease-in-out both;
}
.ani-fadeOut {
    -webkit-animation: fadeOut .7s ease both;
    animation: fadeOut .7s ease both;
}
.ani-fadeInOut {
    -webkit-animation: fadeInOut 2s ease both;
    animation: fadeInOut 2s ease both;
}
.ani-fadeInDown {
    -webkit-animation: fadeInDown .5s ease both;
    animation: fadeInDown .5s ease both;
}
.ani-fadeInDown2 {
    -webkit-animation: fadeInDown2 1s ease both;
    animation: fadeInDown2 1s ease both;
}
/*气泡渐显*/
.ani-bubble {
    -webkit-animation: bubble 1.6s ease both;
    animation: bubble 1.6s ease both;
}
.ani-bubble2 {
    -webkit-animation: bubble 1.0s ease both;
    animation: bubble 1.0s ease both;
}
.ani-scaleUp {
    -webkit-animation: aniScaleUp 1s ease both;
    animation: aniScaleUp 1s ease both;
    -webkit-transform-origin:center bottom;
}

/*flipInX显示*/
.flipInX{
    -webkit-animation: flipInX 1s ease both;
    animation: flipInX 1s ease both;
}
/*flipInY显示*/
.flipInY{
    -webkit-animation: flipInY 1s ease both;
    animation: flipInY 1s ease both;
}

/*大到小*/
.expandOpen{
    -webkit-animation: expandOpen 1s ease both;
    animation: expandOpen 1s ease both;
}
/*旋转*/
.rotateIn {
    -webkit-animation: rotateIn 1s ease both;
    animation: rotateIn 1s ease both;
}


/*透明变化反复*/
.ani-pulse{
    -webkit-animation: pulse 2.0s ease infinite;
    animation: pulse 2.0s ease infinite;
}
/*透明变化反复1*/
.ani-pulse-one{
    -webkit-animation: pulseOne 2.0s ease both;
    animation: pulseOne 2.0s ease both;
}
/*高度变化*/
.ani-moveZoomHeight {
    -webkit-animation: moveZoomHeight 1.6s ease-in-out both;
    animation: moveZoomHeight 1.6s ease-in-out both;
    /*	transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -webkit-transform-origin: 50% 0%; 		*/
}
/*宽度变化*/
.ani-expandShrink{
    -webkit-animation:expandShrink 1.5s ease-in-out infinite both;
    animation: expandShrink 1.5s ease-in-out infinite both;
}
/*移动*/
.ani-move01{
    -webkit-animation: move01 5.0s ease infinite;
    animation: move01 5.0s ease infinite;
}
.ani-move02{
    -webkit-animation: move02 5.5s ease-in-out infinite;
    animation: move02 5.5s ease-in-out infinite;
}
.ani-move03{
    -webkit-animation: move02 4s ease-in-out infinite;
    animation: move02 4s ease-in-out infinite;
}
/**/
.ani-rain{
    -webkit-animation: rain 0.6s linear infinite;
    animation: rain 0.6s linear infinite;
}

/*右边消失*/
.ani-fadeOutRight {
    -webkit-animation: fadeOutRight 1.5s ease both;
    animation: fadeOutRight 1.5s ease both;
}
.ani-fadeOutRight6 {
    -webkit-animation: fadeOutRight6 8s ease both;
    animation: fadeOutRight6 8s ease both;
}
.ani-fadeOutLeft6 {
    -webkit-animation: fadeOutLeft6 8s ease both;
    animation: fadeOutLeft6 8s ease both;
}

/*宽度变化*/
.ani-moveZoomWidth {
    -webkit-animation: moveZoomWidth 1.2s ease-in-out both;
    animation: moveZoomWidth 1.2s ease-in-out both;
}
/*right*/
.pt-page-moveIconRight {
    -webkit-animation: moveIconRight ease 1.5s both infinite;
    animation: moveIconRight ease 1.5s both infinite;
}

/*刷子移动*/
.ani-movebrush01{
    -webkit-animation: movebrush01 2s ease both;
    animation: movebrush01 2s ease both;
}
.ani-movebrush02{
    -webkit-animation: movebrush02 2s ease both;
    animation: movebrush02 2s ease both;
}
/*重复*/
.ani-movebrush05{
    -webkit-animation: movebrush05 2s ease both infinite;
    animation: movebrush05 2s ease both infinite;
}
/*new*/
.ani-movebrush06{
    -webkit-animation: movebrush06 1s ease both infinite;
    animation: movebrush06 1s ease both infinite;
}


/*多刷一次*/
.ani-movebrush03{
    -webkit-animation: movebrush01 6s ease both;
    animation: movebrush01 6s ease both;
}
.ani-movebrush04{
    -webkit-animation: movebrush02 6s ease both;
    animation: movebrush02 6s ease both;
}

/*自定义动画*/
@-webkit-keyframes moveFromBottomNum {
    from { background-position: 0px -0px; }
}
@keyframes moveFromBottomNum {
    from { background-position: 0px -0px; }
}

@-webkit-keyframes aniScaleUp {
    from { opacity: 0;  -webkit-transform: scaley(.5) translateY(100%); }
}
@keyframes aniScaleUp {
    from { opacity: 0;  -webkit-transform: scaley(.5) translateY(100%);  }
}


/**/
@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/**/


@-webkit-keyframes expandShrink {

    0% {

        -webkit-transform: scale(1);
        transform:scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.25);
        transform:scale(1.25);
    }


    100% {
        opacity:1;
        -webkit-transform: scale(1);
        transform:scale(1);
    }
}

@keyframes expandShrink {
    0% {

        -webkit-transform: scale(1);
        transform:scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.25);
        transform:scale(1.25);
    }


    100% {
        opacity:1;
        -webkit-transform: scale(1);
        transform:scale(1);
    }

}


/**/
@-webkit-keyframes moveIconRight {
    0% { -webkit-transform: translateX(100%); opacity:0;}
    50% { -webkit-transform: translateX(0%); opacity:1;}
    100% { -webkit-transform: translateX(-100%); opacity:0;}
}
@keyframes moveIconRight {
    0% { -webkit-transform: translateX(100%); transform: translateX(100%); opacity:0;}
    50% { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1;}
    100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity:0;}
}




@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeInLoop {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeInLoop {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}





@-webkit-keyframes fadeInScale {
    0% {
        opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);
    }
    100% {
        opacity: 1; -webkit-transform: scale(1); transform: scale(1);
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2);
    }
    100% {
        opacity: 1; -webkit-transform: scale(1); transform: scale(1);
    }
}
@-webkit-keyframes outScale {
    0% {
        opacity: 0; -webkit-transform: scale(0); transform: scale(0);
    }
    100% {
        opacity: 1; -webkit-transform: scale(1); transform: scale(1);
    }
}

@keyframes outScale {
    0% {
        opacity: 0; -webkit-transform: scale(0); transform: scale(0);
    }
    100% {
        opacity: 1; -webkit-transform: scale(1); transform: scale(1);
    }
}


@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    30% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    30% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0)
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        -ms-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }
}

@-webkit-keyframes fadeInDown2 {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -15%, 0);
        transform:translate3d(0, -15%, 0)
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown2 {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0, -15%, 0);
        transform:translate3d(0, -15%, 0)
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}


@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeInLeft5 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft5 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeInRight5 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight5 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeOutRight {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes fadeOutRight {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}
/**/
@-webkit-keyframes fadeOutRight6 {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes fadeOutRight6 {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}
/**/
@-webkit-keyframes fadeOutLeft6 {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes fadeOutLeft6 {

    0% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes bubble {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bubble {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

/*
==============================================
pulse
==============================================
*/


@keyframes pulse {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@-webkit-keyframes pulseOne {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }

}
@keyframes pulseOne {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}
/**/
@-webkit-keyframes move01 {
    0% {

        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }
    30% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }

}
@keyframes move01 {
    0% {

        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }
    30% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0)
    }
}
/**/
@-webkit-keyframes move02 {
    0% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

}
@keyframes move02 {
    0% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@-webkit-keyframes rain {
    0% {

        background: url(../images/p6-rain-01.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    49% {

        background: url(../images/p6-rain-01.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    50% {

        background: url(../images/p6-rain-02.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    100% {
        background: url(../images/p6-rain-02.png) no-repeat center bottom;
        background-size: 100% auto;

    }

}
@keyframes rain {
    0% {

        background: url(../images/p6-rain-01.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    49% {

        background: url(../images/p6-rain-01.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    50% {

        background: url(../images/p6-rain-02.png) no-repeat center bottom;
        background-size: 100% auto;
    }
    100% {
        background: url(../images/p6-rain-02.png) no-repeat center bottom;
        background-size: 100% auto;
    }
}



/**/
@-webkit-keyframes movebrush01 {
    0% {
        top:0
    }
    33% {
        top:80%;
    }
    66% {
        top:0;
    }
    99% {
        top:80%;
        opacity: 1;
    }
    100% {
        top:80%;
        opacity: 0;
    }

}
@keyframes movebrush01 {
    0% {
        top:0
    }
    33% {
        top:80%;
    }
    66% {
        top:0;
    }
    99% {
        top:80%;
        opacity: 1;
    }
    100% {
        top:80%;
        opacity: 0;
    }

}
/**/
@-webkit-keyframes movebrush02 {
    0% {
        left:0
    }
    50% {
        left:40%;
    }
    100% {
        left:50%;
    }


}
@keyframes movebrush02 {
    0% {
        left:0
    }
    50% {
        left:40%;
    }
    100% {
        left:50%;
    }

}
/**/
/**/
@-webkit-keyframes movebrush05 {
    0% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    30% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

}
@keyframes movebrush05 {
    0% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    30% {

        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
    100% {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
/**/
/**/
@-webkit-keyframes movebrush06 {
    0% {

        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    30% {

        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }
    100% {

        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

}
@keyframes movebrush06 {
    0% {

        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    30% {

        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }
    100% {

        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@-webkit-keyframes moveZoomHeight {
    0% { height:0%;}
    100% {height:100%;}
}
@keyframes moveZoomHeight {
    0% { height:0%;}
    100% {height:100%;}
}

@-webkit-keyframes moveZoomWidth {
    0% { width:100%;}
    100% {width:0%;}
}
@keyframes moveZoomWidth {
    0% { width:100%;}
    100% {width:0%;}
}


@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}



@keyframes expandOpen {
    0% {
        transform: scale(1.8);
        opacity: 0;
    }
    50% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(1.05);
    }
    90% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes expandOpen {
    0% {
        -webkit-transform: scale(1.8);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(0.95);
    }
    80% {
        -webkit-transform: scale(1.05);
    }
    90% {
        -webkit-transform: scale(0.98);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}



/* loading style */
.app-loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 90000;
    background-color: #e9e8e3;
}
.loading{
    width: 6rem;
    height: 6rem;
    background-color: #84c4fc;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -3rem auto 0;
    border-radius: 100%;
    -webkit-animation: scaleout 1.2s infinite ease-in-out;
    animation: scaleout 1.2s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/******************横屏遮罩*****************/
#shade{ position:fixed; width:100%; height:100%; left:0; top:0;}
/* css pad */
@keyframes arow {
    0% { opacity:0}
    50% { opacity:1}
    100% { opacity:0}
}
@-webkit-keyframes arow {
    0% { opacity:0}
    50% { opacity:1}
    100% { opacity:0}
}
@-moz-keyframes arow {
    0% { opacity:0}
    50% { opacity:1}
    100% { opacity:0}
}
@keyframes padroate {
    0%{ opacity:0;transform:rotate(0deg);}
    10%{ opacity:1;transform:rotate(0deg);}
    20%, 80% { opacity:1; transform:rotate(90deg);}
    100% {opacity:0;transform:rotate(90deg);}
}
@-webkit-keyframes padroate {
    0%{ opacity:0;-webkit-transform:rotate(0deg);}
    10%{ opacity:1;-webkit-transform:rotate(0deg);}
    20%, 80% { opacity:1; -webkit-transform:rotate(90deg);}
    100% {opacity:0;-webkit-transform:rotate(90deg);}
}
@-moz-keyframes padroate {
    0%{ opacity:0;-moz-transform:rotate(0deg);}
    10%{ opacity:1;-moz-transform:rotate(0deg);}
    20%, 80%{ opacity:1; -moz-transform:rotate(90deg);}
    100% {opacity:0;-moz-transform:rotate(90deg);}
}
@-ms-keyframes padroate {
    0%{ opacity:0;-ms-transform:rotate(0deg);}
    10%{ opacity:1;-ms-transform:rotate(0deg);}
    20%, 80% { opacity:1; -ms-transform:rotate(90deg);}
    100% {opacity:0;-ms-transform:rotate(90deg);}
}
.padArow {
    top:50%;
    left:50%;
    position: absolute;
    width:50px;
    height:50px;
    border-left:solid 6px #000;
    border-radius: 0 0 0 49px;
    margin:-15px 0 0 -90px;
    -webkit-animation:arow 2s linear infinite;
    animation:arow 2s linear infinite;
}
.padArow:after {
    position:relative;
    bottom:12px;
    right:15px;
    display:block;
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width:0 12px 12px 12px;
    border-color: transparent transparent #000 transparent;
}
.trasfrm { position:fixed; width:100%; height:100%; z-index:999; background:#f3f3f3; left:0; top:0; display:none;}
.iconPad_1 {
    position:absolute;
    left:50%;
    top:38%;
    margin:-40px 0 0 -60px;
    opacity:0.4;
    width:120px;
    height:80px;
    background:#fff;
    border: solid 2px #000;
    border-radius:8px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:3px;
}
.iconpad_2 {
    border-radius:5px;
    width:100%;
    height:100%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:8px solid #000;
    background-image: -moz-linear-gradient( -90deg, rgb(29,29,29) 0%, rgb(153,153,153) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(29,29,29) 0%, rgb(153,153,153) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(29,29,29) 0%, rgb(153,153,153) 100%);
}
.iconpad_2:before {
    display:block;
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 84px 64px 0 0;
    border-color: rgba(255,255,255,0.1) transparent transparent transparent;
}
.trmoct {opacity:1;}
.trapf {
    text-align:center;
    width:100%;
    height:20px;
    line-height:20px;
    font-size:18px;
    color:#333;
    position:fixed;
    bottom:15%;

}
/* animate */
.trmoct {
    transform-origin: center 60px;
    -webkit-animation:padroate 3s ease-in infinite 0.3s;
    animation:padroate 3s ease-in infinite 0.3s;
    -webkit-transform-origin: center 60px;
}
.innerCircle {display:none;}

/*横屏提示*/
@media not screen and (orientation:portrait){
    .ds768 { display:block}
}

/**/
@media only screen and (max-height: 416px){

}


/**/
@media only screen and (max-height: 500px){
    /*.page-4-1 .img_3 {
        height:auto;
        width:50%;
        position:absolute;
        left:0;
        top:13.7676%;
    }
    .page-4-1 .img_4 {
        height:auto;
        width:50%;
        position:absolute;
        right:0;
        top:13.7676%;
    }
    .page-5-1 .img_3 {
        height:auto;
        width:50%;
        position:absolute;
        left:0;

      top:auto;
      bottom: 0.5%;
    }
    .page-5-1 .img_4 {
        height:auto;
        width:50%;
        position:absolute;
        right:0;
      top:auto;
      bottom: 0.5%;
    }
    .page-6-1 .img_3 {
        height:auto;
        width:50%;
        position:absolute;
        left:0;
        top:78.5281%;
    }
    .page-6-1 .img_4 {
        height:auto;
        width:50%;
        position:absolute;
        right:0;
        top:78.5281%;
    }*/



}
.z-p9{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

