a {
    text-decoration: none;
}

.trasfrm {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #f3f3f3;
    left: 0;
    top: 0;
    display: none;
}

/*.going .rule-btn {*/
/*height: 2.5rem;*/
/*font-size: 1.2rem;*/
/*line-height: 2.5rem;*/
/*top: .5rem;*/
/*display: block;*/
/*float: right;*/
/*position: absolute;*/
/*right: 1rem;*/
/*}*/

.going .page {
    background: url(../images/going_bg.gif) no-repeat;
    background-size: 100%;
}

.going .img {
    width: 100%;
}

.going .img_1 {
    margin-top: 1.2rem;
}

.going .img_2 {
    position: relative;
    transform: scale(.95);
    margin-top: 2%;
    z-index: 9;
}

.log {
    color: #fff;
    background-color: rgba(17, 66, 157, .3);
    text-decoration: none;
    margin-top: 1.2rem;
    margin-right: 1.2rem;
    padding: 0 1.5rem;
    border-radius: 2rem;
}

.wheelbox {
    position: relative;
    margin-top: -5rem;
}

.prizes-tip {
    background-color: rgba(0, 0, 0, .2);
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    width: 85%;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 5px;
}

.prizes-tip > li {
    font-size: 1.2rem;
    line-height: 4rem;
    height: 4rem;
    color: #fff;
}

.arrow-img {
    width: 31%;
    -webkit-transition: -webkit-transform 3.4s;
    transition: transform 3.4s;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-timing-function: cubic-bezier(0, .95, .33, 1);
    transition-timing-function: cubic-bezier(0, .95, .33, 1);
}

.rotate {
    position: absolute;
    top: 0;
    left: .5%;
    width: 100%;
    height: 100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(../images/circle-2.png);
}

.rotate.active {
    background-image: url(../images/circle-2-1.png);
}

.rotate-cont {
    position: relative;
}

.rotate-arrow, .rotate-arrow-text {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;

}

.rotate-cont table {
    width: 100%;
    height: 100%;
}

.rotate-cont table td {
    text-align: center;
    vertical-align: middle;
}

.rotate-arrow-text {
    z-index: 2;
}

.rotate-arrow-text img {
    width: 16%;
}

.pop-grayzg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.pop-grayzg.active {
    display: block;
}

.pop-grayzg .okeveningu-pop {
    position: relative;
    width: 75%;
    overflow: hidden;
    padding: 1.5rem 0;
    background: white;
    margin: 50% auto 0;
    border-radius: 8px;
}

.okeveningu-pop .okright {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
    margin-right: 1.0rem;
    background: url("../images/button-cha.png") no-repeat center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;

}

.okeveningu-pop {
    text-align: center;
}

.okeveningu-pop > div {
    display: none;
}

.okeveningu-pop > div.active {
    display: block;
}

.okeveningu-pop > div > button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.okeveningu-pop > div > p {
    font-size: 1.5rem;
    font-family: 'Microsoft Yahei';
}

.okeveningu-pop > div > p:nth-child(2) {
    margin-top: 1.2rem;
}

.okeveningu-pop > div > p:nth-child(3) {
    margin-top: 1rem;
}

.okeveningu-pop > div > .input-style {
    border: 1px solid #333;
    border-radius: .5rem;
    color: #444;
    font-size: 1.2rem;
    height: 2rem;
    line-height: 2rem;
    padding: .2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.okeveningu-pop > div > .errors {
    color: #ff4300;
    font-size: 1.2rem;
    font-weight: 700;
}

.t-con, .t-huo, .t-huo2 {
    color: #fb5e01;
    font-weight: 700;
}

.t-con {
    font-size: 2rem !important;
}

.t-huo, .t-huo2 {
    font-size: 1.2rem !important;
}

.button {
    display: inline-block;
    background: -webkit-linear-gradient(top, #ffa200 0%, #ff7900 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 47%;
    border: none;
    font-size: 1.8rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    font-weight: 700;
}

.notice > .title {
    background-color: #2abef9;
    width: 100%;
    height: 6.334rem;
    line-height: 6.334rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

.notice_content {
    margin: 0 2.1697rem;
    margin-top: 1.0rem;
}

.notice_content > p {
    color: #444;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.content_center {
    margin-top: .1rem;
    text-align: center;
}

.content_center > img {
    width: 15rem;
    height: 15rem;
    /*margin: 1rem 0;*/
    margin-top: .5rem;
}

.integrate_txt {
    color: #ff9400;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 1rem;
    /*margin-bottom: 2rem;*/
}

.again {
    color: #ff4300;
    font-weight: 700;
}

.code_img {
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.toShare {
    color: #ff4300;
    font-weight: 700;
}

.toShare:last-child {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.txt {
    color: #2b2b2b;
    font-size: 1.4rem;
}

.txt1 {
    color: #2b2b2b;
    font-size: 1.4rem;
    margin-top: .5rem;
}

.lgea {
    margin-top: 1rem;
}

.advertisement {
    margin-bottom: .5rem;
}

#again {
    margin-bottom: 0;
}

.button1 {
    display: inline-block;
    background: -webkit-linear-gradient(top, #ffa200 0%, #ff7900 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 40%;
    border: none;
    font-size: 1.8rem;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    font-weight: 700;
    margin: 0 1.0rem;
}

.lgea a:first-child {
    display: inline-block;
    background: -webkit-linear-gradient(top, #29bdf8 0%, #089ce5 100%);
    box-shadow: 0 -2px 4px #076dcb inset;
    border-radius: 2rem;
    width: 40%;
    border: none;
    font-size: 1.8rem;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    font-weight: 700;
    margin: 0 10px;
}

.content_center > .button {
    margin: 1rem 0;
    font-size: 2rem;
    height: 3.5rem;
}

.s-integrate {
    display: block;
    margin-left: 42%;
    /*background: url(../images/integrate.png) no-repeat;*/
    /*width: 92px;*/
    /*height: 109px;*/
    /*display: inline-block;*/
    width: 4.6rem;
    height: 5.5rem;
}

.s-integrate img {
    width: 100%;
    display: block;
}

.going .going-btn {
    display: inline-block;
    position: relative;
    z-index: 999;
    width: 12rem;
    margin-left: 2.6rem;
}

@media screen and (min-device-width: 414px) {
    .going .rule-btn {
        top: 1rem;
    }
}

@media screen and (max-device-width: 320px) {
    .prizes-tip {
        margin-top: -60px;
    }

    .page .wrap {
        overflow-y: scroll;
    }

    .going .going-btn {
        width: 10.5rem;
        margin-left: 1.8rem;
    }
}

.rule-b {
    width: 180px;
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    top: .5rem;
    display: block;
    float: right;
    position: absolute;
    right: 1rem;
}

.rule-b img {
    width: 100%;
    display: block;
}

.bton {
    position: absolute;
    bottom: 40px;
}

.bton {
    overflow: hidden;
    width: 100%;
}

.bton a {
    display: block;
    float: left;
    background: -webkit-linear-gradient(top, #ef4510 0%, #f15e30 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 40%;
    border: none;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑";
}

.bton a:first-child {
    float: left;
    margin-left: 3%;
}

.bton a:last-child {
    float: right;
    margin-right: 3%;
}

.dingwei {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quedb {
    width: 100%;
    position: absolute;
    bottom: 4.3rem;
    left: 0;
    right: 0;
}

.quedb a:first-child {
    display: inline-block;
    float: left;
    background: -webkit-linear-gradient(top, #ef420c 0%, #f16134 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 40%;
    border: none;
    font-size: 1.8rem;
    height: 4.2rem;
    line-height: 4.2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-left: 5%;
}

.quedb a:last-child {
    display: inline-block;
    float: right;
    background: -webkit-linear-gradient(top, #ef420c 0%, #f16134 100%);
    box-shadow: 0 -2px 4px #ff4200 inset;
    border-radius: 2rem;
    width: 40%;
    border: none;
    font-size: 1.8rem;
    height: 4.2rem;
    line-height: 4.2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-right: 5%;
}