@-webkit-keyframes fadeInOut {
    0% {
        opacity: 1;
        /*-webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);*/
    }
    50% {
        /*opacity: 1;
        -webkit-transform: none;
        transform: none*/
    }
    100% {
        opacity: 0;
        /*-webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);*/
    }
}
@keyframes fadeInOut {
  0% {
      opacity: 1;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
  }
  50% {
      /*opacity: 1;
      -webkit-transform: none;
      transform: none*/
  }
  100% {
      opacity: 0;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
  }
}
@-webkit-keyframes fadeLeftRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 50%, 0);
        transform: translate3d(-50%, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeLeftRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 50%, 0);
        transform: translate3d(-50%, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@-webkit-keyframes fadeInTopRight {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2%, -10%, 0);
        transform: translate3d(-2%, -10%, 0);
    }

}
@keyframes fadeInTopRight {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2%, -10%, 0);
        transform: translate3d(-2%, -10%, 0);
    }

}
@-webkit-keyframes fadeInTopLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(13%, -10%, 0);
        transform: translate3d(13%, -10%, 0);
    }

}
@keyframes fadeInTopLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(13%, -10%, 0);
        transform: translate3d(13%, -10%, 0);
    }

}
@-webkit-keyframes fadeInBottomRight {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 15%, 0);
        transform: translate3d(-10%, 15%, 0);
    }

}
@keyframes fadeInBottomRight {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity:0;
        -webkit-transform: translate3d(-10%, 15%, 0);
        transform: translate3d(-10%, 15%, 0);
    }

}
@-webkit-keyframes fadeInBottomLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(8%, 15%, 0);
        transform: translate3d(8%, 15%, 0);
    }

}
@keyframes fadeInBottomLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(8%, 15%, 0);
        transform: translate3d(8%, 15%, 0);
    }

}
@-webkit-keyframes fadeInBottomBottom {

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0%, -15%, 0);
        transform: translate3d(0%, -15%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes fadeInBottomBottom {
      0% {
          opacity: 0;
          -webkit-transform: translate3d(0%, -15%, 0);
          transform: translate3d(0%, -15%, 0);
      }
      100% {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }

}
.ani-fadeInOut {
    -webkit-animation: fadeInOut .2s ease-in-out both;
    animation: fadeInOut .2s ease-in-out both;
}
.ani-fadeLeftRight {
    -webkit-animation: fadeLeftRight 1.5s ease both;
    animation: fadeLeftRight 1.5s ease both;
}
.ani-fadeInTopRight {
    -webkit-animation: fadeInTopRight 2s ease ;
    animation: fadeInTopRight 2s ease ;
}
.ani-fadeInTopLeft {
    -webkit-animation: fadeInTopLeft 2s ease ;
    animation: fadeInTopLeft 2s ease ;
}
.ani-fadeInBottomRight {
    -webkit-animation: fadeInBottomRight 2s ease ;
    animation: fadeInBottomRight 2s ease ;
}
.ani-fadeInBottomLeft {
    -webkit-animation: fadeInBottomLeft 2s ease ;
    animation: fadeInBottomLeft 2s ease ;
}
.ani-fadeInBottomBottom {
    -webkit-animation: fadeInBottomBottom 2s ease ;
    animation: fadeInBottomBottom 2s ease ;
}
.page-1-1 .img_4 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.page-1-1 .img_5 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 4;
}
.page-1-1 .img_6 {
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 4;
}
.page-1-1 .img_7 {
    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 4;
}
.page-1-1 .img_8 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 4;
}
.page-1-1 .img_9 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 2%;
    top: 42%;
    z-index: 20;
}
.page-1-1 .img_10 {
    height: auto;
    width: 100%;
    position: absolute;
    right: 4%;
    top: 42%;
    z-index: 4;
}
.page-3-1 {
    background: #e9e8e3 url(../images/p3-bg.jpg) no-repeat center bottom;
    background-size: 100% auto;
}
.page-3-1 .img_1 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2%;
}
.page-3-1 .img_2 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 35%;
}
.page-3-1 .img_3 {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25%;
}
.page-3-1 .img_4 {

    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2%;
}
.page-3-1 .img_5 {

    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 2%;
}
.page-3-1 .img_6 {

    height: auto;
    width: 100%;
    position: absolute;
    right: 0;
    top: 2%;
}
.page-3-1 .img_7 {
  
    height: auto;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 2%;
}